* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  width: 100vw;
  height: 12vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbarbrand {
  padding-top: 15px;
  padding-left: 50px;
  color: black;
  height: 30px;
  float: left;
}

.brandname {
  font-family: "Architects Daughter", cursive;
  font-size: 30px;
  text-transform: uppercase;
}

.navbaritems {
  padding-top: 35px;
  text-align: center;
  list-style: none;
}

.navbarlink {
  padding-right: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navbarlink:hover {
  font-weight: 400;
}

.navbarbutton {
  margin-top: -40px;
  margin-right: 50px;
  padding-top: 10px;
  float: right;
  border: 2px solid black;
  width: 200px;
  height: 50px;
  transition: 0.8s all;
}

.navbarbutton:hover {
  background: black;
}

.navbarbutton:hover a {
  color: white;
}

.navbarbutton > a {
  text-decoration: none;
  background: transparent;
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.8s all;
}

.banner > img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 100px;
}

.bannertext {
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}

.bannertext > h1 {
  text-transform: uppercase;
  width: 100vw;
  text-align: center;
  letter-spacing: 5px;
  font-size: 75px;
  font-weight: 500;
}

.bannertext > p {
  font-style: italic;
  text-align: center;
}

.bannertext > button {
  margin-top: 25px;
  width: 250px;
  height: 50px;
  align-self: center;
  background: transparent;
  text-align: center;
  border: 1.5px solid white;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.8s all;
}

.bannertext > button:hover {
  background: white;
}

.bannertext > button:hover a {
  color: black;
}

.bannertext > button > a {
  text-decoration: none;
  color: white;
  transition: 0.8s all;
}

.about {
  height: 90vh;
  display: flex;
}

.aboutimage > img {
  margin: 125px 0px 100px 150px;
  width: 600px;
  height: 700px;
}

.abouttext {
  margin-top: 200px;
  margin-left: 175px;
  width: 500px;
  height: 100px;
  word-break: normal;
}

.abouttext > h1 {
  font-family: "Karla", sans-serif;
  color: #a3c3c2;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#projects {
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  gap: 50px;
  overflow-x: auto;
  width: 100vw;
  height: 100vh;
}

.cardwrapper > div {
  position: relative;
  margin: 125px 0px 100px 150px;
  background: black;
}

.cardwrapper > div > img {
  display: flex;
  object-fit: cover;
  width: 600px;
  height: 700px;
  opacity: 50%;
  transition: 0.8s all;
}

.cardwrapper > div > img:hover {
  opacity: 100%;
}

.cardwrapper > div > h1 {
  text-transform: uppercase;
  top: 50%;
  left: 30%;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 200;
  transition: 0.8s all;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin-top: 175px;
}

.contactheader {
  display: flex;
  font-family: "Karla", sans-serif;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
}

.contactheader > h1 {
  display: flex;
  text-align: center;
}

.contact > div > iframe {
  margin-top: 125px;
  width: 600px;
  height: 700px;
}

.contacttext {
  margin-top: 125px;
  margin-left: 100px;
  width: 730px;
  height: 250px;
  background-color: #a3c3c2;
  word-break: normal;
}

.contacttext > a {
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  color: white;
  flex-direction: column;
  text-decoration: none;
}

.maps {
  display: flex;
  flex-direction: column;
}
